<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mogenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>spark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0506FA281BB3A05500333BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0506FA441BB3A05500333BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0506FA4F1BB3A05500333BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0590CFAF1BB4022300097ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
